*

# ^ СВОЁ

# ^ общ.ИСКЛЮЧЕНИЯ
!DPD_ReturnToRemote.ahk
!DPD_StartRemote.ahk
!MonitorINFO.ahk
# экранирование символов ч/з \
!ShiftRemoteWindow.ahk
!Start_AIMP_Sound (REPEAT) \[MINI\].ahk
!Start_AIMP_Sound (REPEAT).ahk
!Window1 (HORIZONT).ahk
!Window1 (VERTICAL).ahk
!Window2 (HORIZONT).ahk
!Window2 (VERTICAL).ahk
!Window3 (HORIZONT).ahk
!Window3 (VERTICAL).ahk
!Window4 (HORIZONT).ahk
!Window4 (VERTICAL).ahk
!WindowSpyWithCopy \[MINI\].ahk