*

# ^ СВОЁ

# ^ общ.ИСКЛЮЧЕНИЯ
!DPD_ExitRemoteFullScreen.ahk
!DPD_MessageMy.ahk
!DPD_MessageSend.ahk
!DPD_MessageTop.ahk
!DPD_CheckAndOpenRemoteDesktop.ahk
!DPD_StartRemote.ahk
!DPD_ShiftRemoteWindow.ahk
!CheckColorChanges.ahk
!MonitorINFO.ahk
!ShiftRemoteWindow.ahk
# экранирование символов ч/з \
!Start_AIMP_Sound (REPEAT) \[MINI\].ahk
!Start_AIMP_Sound (REPEAT).ahk
!WindowManager.ahk
!Window1.ahk
!Window2.ahk
!Window3.ahk
!Window4.ahk
!WindowSpyWithCopy \[MINI\].ahk
!WindowGetMonitor.ahk
!WindowMoveToMonitor.ahk
!WindowMoveToMonitorArea.ahk